@page "/about"

<PageTitle>About</PageTitle>

<div
    class="content has-text-centered is-flex is-flex-direction-column is-flex-wrap-wrap is-justify-content-center is-align-content-center mt-6">
    <h1 class="title is-size-2">Bogor <span class="has-text-link">IntelliTraffic</span></h1>
    <p class="subtitle mt-4">Created by Fahmi Noor Fiqri</p>

    <p class="mt-2 mb-6">Traffic intelligence using public CCTV stream and multimodal LLM</p>

    <p>Thanks to <a href="https://bsw.kotabogor.go.id/">Bogor Single Window by Kota Bogor</a><br/>for providing the CCTV
        live stream!</p>

    <h5 class="mb-0 mt-6">Tech Stack:</h5>
    <p>Open AI, .NET 9, Blazor Server, EF Core, SQLite,<br/>Leaflet, ffmpeg, MediaMTX, nginx, Docker</p>

    <NavLink href="/" class="button is-medium is-outlined is-link mt-6">
        <span class="icon">
            <i class="fa-solid fa-arrow-left"></i>
        </span>
        <span>Back to home</span>
    </NavLink>
</div>
